<h2><%= @label ? @label : YARD::Tags::Library.labels[@name] %>:</h2>
<ul class="todo">
  <% @tags.each do |tag| %>
    <li>
    <% if tag.text && !tag.text.empty? %>
      <% unless (@no_types || tag.types.nil? || tag.types.empty?) && @no_names %>&mdash;<% end %>
      <%= htmlify_line(tag.text) %>
    <% end %>
    </li>
  <% end %>
</ul>
