<h2>Loose Ends</h2>
<div id="contents">
  <ul>
    <% n=1 %>
    <% @items.each do |part| %>
      <li class="r<%= n %>">
      <strong><%= h(part[:label]) %>: </strong>
      <% part[:codos].each do |codo| %>
        <%= link_object(codo, codo.title, nil, false) %>
        <p><%= h(codo.docstring) %></p>
        <% n += 1 ; n=1 if n>2 %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>


