# vim: ft=sh
DIR="$1"
export LANG="C"
cd $HOME/projects
git pull

RUBY=ruby19
INITCMD="rake edit"
# let a local ruby.rc overwrite $RUBY
[ -r $DIR/init.rc ] && . $DIR/init.rc

echo "sourcing $RUBY.rc"
test -r ~/$RUBY.rc && . ~/$RUBY.rc

ENV_DIR="$DIR" rake git:update_core

echo "starting up with $INITCMD"
if [ -d "$DIR" ]; then
  cd "$DIR"
  $INITCMD
fi

